<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Beatless</title>
</head>
    <body>
        <header>
        <h1>Welcome to Beat-less!</h1>
            <nav>
                <ul>
                    <li>
                        <a href="/artists">Artists</a>
                    </li>
                    <li>
                        <a href="/tracks">Tracks</a>
                    </li>
                   
                </ul>
            </nav>
        </header>
<%# ADD LOGIN AND SESSION HERE %>
    </body>
</html>