<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Beatless</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
    <body>
        <header>
        <h1 class ="jumbotron text-center">Welcome to Beatless!</h1>
            <nav>
                <ul>
                    <% if(logged) { %>
                    <p>
                        <li class="one ofTwo">
                            <h2 class="text-center">
                            <a href="/artists">Artists</a>
                            </h2>
                        </li>
                        <li class="two ofTwo">
                            <h2>
                            <a href="/tracks">Tracks</a>
                            </h2>
                        </li>
                    </p>
                        <% } %>
                </ul>
            </nav>
        </header>
        <%= message %>
        <% if(!logged) { %> 
            <h4>Login</h4>
            <form action="/auth/login" method="POST">
            <input type="text" name="username" placeholder="username"><br>
            <input type="password" name="password" placeholder="password"><br>
            <button type="submit">Login</button>
            </form>

            <h4>Registration</h4>
            <form action="/auth/registration" method="POST">
                <input type="text" name="username" placeholder="Username"><br>
                <input type="password" name="password" placeholder="password"><br>
                <input type="email" name="email" placeholder="email"><br>
                <button type="submit">Register</button>
            </form>
            <% } %>
            <footer>
                    <a href="/auth/logout/">Logout</a>
            </footer>
        </body>
</html>