<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Beatless</title>
</head>
    <body>
        <header>
        <h1>Welcome to Beatless!</h1>
            <nav>
                <ul>
                    <li>
                        <a href="/artists">Artists</a>
                    </li>
                    <li>
                        <a href="/tracks">Tracks</a>
                    </li>
                   <% if(logged) { %>
                </ul>
            </nav>
        </header>
        <%= message %>
        <% if(!logged) { %> 
            <h4>Login</h4>
            <form action="/auth/login" method="POST">
            <input type="text" name="username" placeholder="username"><br>
            <input type="password" name="password" placeholder="password"><br>
            <button type="submit">Login</button>
            </form>

            <h4>Regiustration</h4>
            <form action="/auth/login" method="POST">
                <input type="text" name="username" placeholder="username"><br>
                <input type="password" name="password" placeholder="password"><br>
                <button type="submit">Register</button>
            </form>
            <% } %>
        </body>
</html>