body {
    background-color: darkred;
    font-family: Arial, Helvetica, sans-serif;
    color: #f424e3;
    align-content: center;
}

.jumbotron h1 {
    font-weight: 350;
}

a {
    color: #e3f424;
}

.ofTwo {
    margin: .5rem!important;
    display: inline-block;
    font-weight: 400;
    font-size: 1rem;
    

}


img {
    max-width: 300px;
}