<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Beatless Track</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <h1>Create a Track</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/tracks">All Tracks</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/tracks" method="POST">
        <label>Artist: <%= artist.name %></label><br>
        <input type="text" name="title" placeholder="Track Title" /><br>
        <input type="text" name="link" placeholder="Track Link"/>
        <input type="text"  name="image" placeholder="image link">
        <input type="hidden" name="artist" value="<%= artist._id %>">
        <input type="submit" value="Create a new track by <%= artist.name %>"/>
        </form>
    </main>
    <footer>
            <a href="/auth/logout/">Logout</a>
    </footer>
</body>
</html>