<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Artists</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <h1>Edit <%= artist.name %>'s Info</h1>
            <ul>
                <nav>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/artists">Return to All Artists Page</a>
                </li>
            </ul>
        </nav>
    </header>   
    <main>
        <h2>About <%= artist.name %></h2>
        <form action="/artist/<%= artist._id %>?_method=PUT" method=POST>
            <label>Name</label><br>
            <input type="text" name="name" value="<%= artist.name %>"/><br/>
            <input type="submit" value="Update Artist"/>
        </form>
    </main> 
</body>
</html>