<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Artists</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
    <h1 class="text-center">Edit details for <%= artist.name %></h1>
        <nav>
            <ul>
                <div>
                    <a href="/">Home</a>
                </div>
                <div>
                    <a href="/artists">All Artists</a>
                </div>
            </ul>
        </nav>
    </header>   
    <main class="text-center">
        <h2>About <%= artist.name %></h2>
        <form action="/artists/<%= artist._id %>?_method=PUT" method=POST>
            <label>Name</label><br>
            <input type="text" STYLE="color: aliceblue; background-color: black;" name="name" value="<%= artist.name %>"/><br/>
            <input type="submit" STYLE="color: aliceblue; background-color: black;" value="Update Artist"/>
        </form>
    </main> 
    <footer>
        <a href="/auth/logout/">Logout</a>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>