<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Artists</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
    <h1>Edit details for <%= artist.name %></h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/artists">All Artists</a>
                </li>
            </ul>
        </nav>
    </header>   
    <main>
        <h2>About <%= artist.name %></h2>
        <form action="/artists/<%= artist._id %>?_method=PUT" method=POST>
            <label>Name</label><br>
            <input type="text" name="name" value="<%= artist.name %>"/><br/>
            <input type="submit" value="Update Artist"/>
        </form>
    </main> 
    <footer>
        <a href="/auth/logout/">Logout</a>
    </footer>
</body>
</html>