<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Beatless Artists</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <h1>Artists</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/artists/new">Create a New Artist</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>All Artists:</h2>
        <ul>
            <% for(let i = 0; i < artists.length; i++) { %>
            <li>
                <a href="/artists/<%=artists[i]._id%>"><%= artists[i].name%></a>
            </li>
        <% } %>
        </ul>
    </main>
    <footer>
        <a href="/auth/logout/">Logout</a>
    </footer>
    </body>
</html>