<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Beatless</title>
</head>
<body>
    <header>
        <h1>Create an Artist</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/artists">All Artists</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
            <form action="/artists" method="POST">
            <label>Name</label>
            <input type="text" name="name" placeholder="Artist's Name"/>
            <input type="submit" value="Create Artist">
        </form>
    </main>
</body>
</html>